html {
    box-sizing: border-box;
    font-size: 20px;
    scroll-behavior: smooth;
}

/* @font-face {
    font-family: "Montserrat-Light";
    font-style: normal;
    font-weight: 300;
    src: local("Montserrat"),
         url("./fonts/Montserrat-Light.woff2") format("woff2"),
         url("./fonts/Montserrat-Light.woff") format("woff");
}

@font-face {
    font-family: "Gilroy-Light";
    font-style: normal;
    font-weight: 300;
    src: local("Montserrat"),
         url("./fonts/Gilroy-Light.woff2") format("woff2"),
         url("./fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
    font-family: "Gilroy-Extrabold";
    font-style: normal;
    font-weight: 800;
    src: local("Montserrat"),
         url("./fonts/Gilroy-Extrabold.woff2") format("woff2"),
         url("./fonts/Gilroy-Extrabold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Medium";
    font-style: normal;
    font-weight: 500;
    src: local("Montserrat"),
         url("./fonts/Montserrat-Medium.woff2") format("woff2"),
         url("./fonts/Montserrat-Medium.woff") format("woff");
} */

body {
    font-family: '', sans-serif;
    line-height: 1.5rem;
    background-color: #EEEEEE;
    color: #000000;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

.h2-style {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: .06em;
    margin: 0;
}

.primary-button {

}


.primary-button:hover {
    
}




/*header*/

.header__section {
}

.logo-link {
    display: block;
    width: 6rem;
    height: 3rem;
    background: url(./images/logo.svg) center / contain no-repeat;
}

.header__container, .nav__list, .socials__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container {
    background-color: #FFFFFF;
    border-radius: 1.6rem;
    padding: 0 5%;
}

.nav__list {
    gap: 1rem;
}

.burger-menu {
    display: none;
}



/*hero-banner*/

.hero-banner__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./images/hero-banner.svg) center / cover no-repeat;
    color: #FFF;
    border-radius: 2.8rem;
}


/*about__section*/

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*collections__section*/

.collections__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collections__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/collections-bg.svg) center / cover no-repeat;
    border-radius: 2.8rem;
    color: #FFF;
    padding: 6rem 0;
}

.collections__item {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: center / cover no-repeat;
}

.collections__item--1 {
    background-image: url(./images/collections-1.jpg);
}

.collections__item--2 {
    background-image: url(./images/collections-2.jpg);
}

.collections__item--3 {
    background-image: url(./images/collections-3.jpg);
}

.collections__item-heading {
    text-transform: uppercase;
}

.collections__item-button {
    background-color: transparent;
    border: 2px solid #FFF;
    color: #FFF;
    padding: .8rem 1.5rem;
    border-radius: .8rem;
}

/*first-project__section*/

.first-project__section {
    padding: 0 5%;
}

/*footer*/




@media (max-width: 1200px) {

}