html {
    box-sizing: border-box;
    font-size: 20px;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Inter-Light";
    font-style: normal;
    font-weight: 300;
    src: local("Inter-Light"),
         url("./fonts/Inter-Light.woff2") format("woff2"),
         url("./fonts/Inter-Light.woff") format("woff");
}

@font-face {
    font-family: "Inter-Light-Italic";
    font-style: normal;
    font-weight: 300;
    src: local("Inter-Light-Italic"),
         url("./fonts/Inter-Light-Italic.woff2") format("woff2"),
         url("./fonts/Inter-Light-Italic.woff") format("woff");
}

@font-face {
    font-family: "Inter-Medium-Italic";
    font-style: normal;
    font-weight: 500;
    src: local("Inter-Medium-Italic"),
         url("./fonts/Inter-Medium-Italic.woff2") format("woff2"),
         url("./fonts/Inter-Medium-Italic.woff") format("woff");
}

@font-face {
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: 400;
    src: local("Inter-Regular"),
         url("./fonts/Inter-Regular.woff2") format("woff2"),
         url("./fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Inter-Medium";
    font-style: normal;
    font-weight: 500;
    src: local("Inter-Medium"),
         url("./fonts/Inter-Medium.woff2") format("woff2"),
         url("./fonts/Inter-Medium.woff") format("woff");
}

@font-face {
    font-family: "Inter-SemiBold";
    font-style: normal;
    font-weight: 600;
    src: local("Inter-SemiBold"),
         url("./fonts/Inter-SemiBold.woff2") format("woff2"),
         url("./fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Inter-Bold";
    font-style: normal;
    font-weight: 700;
    src: local("Inter-Bold"),
         url("./fonts/Inter-Bold.woff2") format("woff2"),
         url("./fonts/Inter-Bold.woff") format("woff");
}

body {
    font-family: 'Inter-Regular', sans-serif;
    line-height: 1.5rem;
    background-color: #EEEEEE;
    color: #000000;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

.h2-style {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: .06em;
    margin: 0;
}

.primary-button {

}


.primary-button:hover {
    
}




/*header*/

.header__section {
}

.logo-link {
    display: block;
    width: 6rem;
    height: 3rem;
    background: url(./images/logo.svg) center / contain no-repeat;
}

.header__container, .nav__list, .socials__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container {
    background-color: #FFFFFF;
    border-radius: 1.6rem;
    padding: 0 5%;
}

.nav__list {
    gap: 1rem;
}

.burger-menu {
    display: none;
}



/*hero-banner*/

.hero-banner__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./images/hero-banner.svg) center / cover no-repeat;
    color: #FFF;
    border-radius: 2.8rem;
}


/*about__section*/

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*collections__section*/

.collections__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collections__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(./images/collections-bg.svg) center / cover no-repeat;
    border-radius: 2.8rem;
    color: #FFF;
    padding: 6rem 5%;
}

.collections__item {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: center / cover no-repeat;
    border-radius: 1.6rem;
}

.collections__item--1 {
    background-image: url(./images/collection-1.jpg);
}

.collections__item--2 {
    background-image: url(./images/collection-2.jpg);
}

.collections__item--3 {
    background-image: url(./images/collection-3.jpg);
}

.collections__item-heading {
    text-transform: uppercase;
}

.collections__item-button {
    background-color: transparent;
    border: 2px solid #FFF;
    color: #FFF;
    padding: .8rem 1.5rem;
    border-radius: .8rem;
}

/*first-project__section*/

.first-project__section {
}

.first-project__container {
    position: relative;
    display: grid;
    grid-template-columns: 32% 65%;
    gap: 3%;
    padding: 5rem 5%;
}

.first-project__container:after {
    content: '';
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, .4);
}

.first-project__content { 
}

.first-project__image {
    grid-area: 1/2/2/3;
    background: url(./images/project-1.jpg) center / cover no-repeat;
    padding-top: 75%;
    border-radius: 1.6rem;
}

/*second-project__section*/

.second-project__section {
}

.second-project__container {
    display: grid;
    grid-template-columns: 65% 32%;
    gap: 3%;
    padding: 5rem 5%;
}

.second-project__image {
    grid-area: 1/1/2/2;
    background: url(./images/project-2.jpg) center / cover no-repeat;
    padding-top: 75%;
    border-radius: 1.6rem;
}

/*news*/

.news__container {
    background: url(./images/news-bg.svg) center / cover no-repeat;
    color: #FFF;
    border-radius: 2.8rem;
    padding: 5rem 5%;
}

.news__h2 {
    text-align: center;
    margin-bottom: 2.7rem;
}

.news__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__item {
    width: 32%;
}

.news__item-img {
    background: center / cover no-repeat;
    padding-top: 75%;
    border-radius: 1.6rem;
}

.news__item-img--1 {
    background-image: url(./images/news-img-1.jpg);
}

.news__item-img--2 {
    background-image: url(./images/news-img-2.jpg);
}

.news__item-img--3 {
    background-image: url(./images/news-img-3.jpg);
}

/*examples__section*/

.examples__container {
    padding: 5rem 5% 7rem;
}

.examples__list {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    gap: 1%;
    margin-bottom: 3rem;
}

.examples__item {
    position: relative;
    padding-top: 100%;
}

.examples__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(./images/example-1.jpg) center / cover no-repeat;
    border-radius: 1.6rem;
}

.examples__link-instagram {
    display: block;
    text-align: center;
}


/*footer*/

.footer__container {
    background-color: #04060C;
    border-top-left-radius: 2.8rem;
    border-top-right-radius: 2.8rem;
    padding: 1.5rem 5% 2rem;
}

.footer__nav-list {
    color: #FFF;
}

.socials__list {

}




@media (max-width: 1200px) {

}